body,
ul,
li {
    margin: 0 auto;
    padding: 0px;
    list-style: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}/* pointer-events:none; no css do "a" para o botão n ser clicavel*/

html {
    /*a cada 1rem será considerada 10px*/
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

a {
    text-decoration: none;
    padding: 5px;
}

header {
    background-color: #252323;
}

.header-1 {
    max-width: 980px;
    margin: auto;
    background-color: #252323;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

.header-1 h1 {
    margin-left: 5px;
}

.redes-sociais ul {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.redes-sociais ul li {
    margin: 7px;
}

.redes-sociais ul li a {
    padding-top: 15px;
}

.header-2 {
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px 40px 0px;
    border-bottom: 4px solid #efefef;
}

.menu>ul {
    display: flex;
    margin: 20px 15px 0px 5px;
}

.menu ul li a {
    color: #8b8b8b;
    padding: 7px 7px 40px 7px;
    margin-right: 10px;
}

#pesquisa {
    background-image: url('imagens/seach-lupa.png');
    background-repeat: no-repeat;
    background-position: 93%;
    border: 1px solid #d6d6d6;
    outline: none;
    padding: 10px 0px 10px 18px;
}

.menu ul li a:hover {
    color: #00bac6;
    border-bottom: 2px solid #00bac6;
}

button.slick-prev {
    font-size: 0rem;
    border: none;
    background-color: transparent;
    width: 25px;
    height: 51px;
    background-image: url('imagens/arrow-left.png');
    position: absolute;
    z-index: 9;
    top: 45%;
    left: 25%;
    cursor: pointer;
}

button.slick-next {
    font-size: 0rem;
    border: none;
    background-color: transparent;
    width: 25px;
    height: 51px;
    background-image: url('imagens/arrow-right.png');
    position: absolute;
    z-index: 9;
    top: 45%;
    right: 25%;
    cursor: pointer;
}

.slick-dots {
    position: absolute;
    top: 89%;
    left: 45%;
}

.slick-dots li {
    display: inline;
}

.slick-dots li button {
    font-size: 0rem;
    background: transparent;
    border: 5px solid white;
    border-radius: 50%;
    width: 17px;
    height: 22px;
    margin-left: 10px;
    cursor: pointer;
}

.slick-active button {
    background: #00bac6 !important;
}

.sect-1 {
    max-width: 980px;
    margin: 0 auto;
    text-align: center;
    color: #9a9a9a;
}

.sect-1 h2 {
    font-size: 3rem;
}

.sect-1 h3 {
    font-size: 2rem;
    line-height: 0.5rem;
}

.p-15 {
    font-size: 1.5rem;
    text-indent: 5px;
    padding: 10px;
}

.p-14 {
    font-size: 1.4rem;
}

.sect-1 b {
    color: #646464;
}

.sect-img {
    max-width: 960px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 35px 5px 0px 5px;
}

.sect-img>div:nth-child(2) {
    padding: 45px 0px 15px 0px;
}

.background-100 {
    background-color: #eeeeee;
}

.imgs-bot {
    padding: 60px 10px 40px 10px;
    max-width: 955px;
    margin: auto;
    display: grid;
    justify-content: center;
    grid-gap: 25px;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
}

.background-100::before {
    width: 100%;
    height: 51px;
    content: '';
    display: inline-block;
    background-image: url('imagens/ceta-top.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-color: white;
}

.imgs-bot>div {
    border: 1px solid #c5c5c5;
}

.imgs-bot>div>h3 {
    color: #797878;
    padding: 0px 25px;
    font-size: 1.5rem;
    line-height: 0rem;
}

.imgs-bot>div>p {
    color: #818181;
    padding: 0px 25px;
    font-size: 1.4rem;
}

.imgs-bot>div>img {
    width: 100%;
    height: 70%;
}

.propagandas {
    max-width: 980px;
    margin: 30px auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.propagandas a {
    padding: 15px;
}

#puma {
    padding-bottom: 25px;
}

footer {
    background-image: url('imagens/back-footer.png');
}

footer main {
    display: flex;
    max-width: 980px;
    margin: 0 auto;
}

footer main div {
    max-width: 22%;
    padding: 20px 15px;
}

footer h3 {
    color: white;
    font-size: 2.2rem;
    font-weight: normal;
}

footer p {
    color: #c1c1c1;
    font-size: 1.4rem;
}

footer p.data {
    color: #898989;
}

footer p>b {
    font-size: 2rem;
    font-weight: normal;
    color: #f5f5f5;
    line-height: 2rem;
}

.parte-3 {
    padding-left: 22px;
}

.parte-4,
.email,
.local,
.phone {
    padding-left: 30px;
}

.data::before {
    display: inline-block;
    content: '';
    background-image: url('imagens/relogio.png');
    height: 15px;
    width: 14px;
    margin-bottom: -2px;
}

.local::before {
    content: '';
    display: inline-block;
    background-image: url('imagens/local.png');
    height: 20px;
    width: 13px;
    margin-right: 30px;
}

.email::before {
    content: '';
    display: inline-block;
    background-image: url('imagens/email.png');
    height: 13px;
    width: 17px;
    margin-right: 26px;
}

.phone::before {
    content: '';
    display: inline-block;
    background-image: url('imagens/phone.png');
    height: 13px;
    width: 13px;
    margin-right: 30px;
}

.rodape {
    background-image: url('imagens/footer-2.png');
}

.back-980 {
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

.rodape p {
    font-size: 1.4rem;
    color: #c1c1c1;
    margin-left: 15px;
}

.redes-sociais-down {
    margin-right: 35px;
}


/* Media queries*/
/*Celular deitado é landscape.
 ex: @media (min-width: 700px) and (orientation: landscape) { ... }*/
@media (max-width: 969px) {
    html {
        font-size: 50%;
    }
}

@media (max-width: 787px) {
    .propagandas {
        width: 80%;
    }
    .propagandas a {
        padding: 10px;
        margin: 10px;
    }

    .sect-img {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 731px) {
    footer main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }

    footer main div {
        max-width: 100%;
    }
    .slick-dots {
        display: none!important;
    }
}

@media (max-width: 644px) {
    .propagandas {
        width: 30%;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .propagandas a {
        padding: 10px;
        margin: 10px;
    }
    .menu {
        display: none;
    }

    
    .um,
    .dois,
    .tres {
        background-color: #9a9a9a;
        height: 3px;
        width: 100%;
        margin: 10px auto;
        transition-duration: 0.3s;
    }

    .hamburg {
        width: 35px;
        height: 40px;
        margin-left: 20px;
    }
    /*após clickar no menu*/
    .menu-sect.on {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #252323;
        z-index: 10;
    }

    .menu-sect.on nav {
        display: block;
        margin-top: 150px;
    }

    .menu-sect.on .hamburg {
        position: absolute;
        top: 9%;
    }

    .menu-sect.on .hamburg .um {
        transform: rotate(45deg) translate(7px, 7px);
    }

    .menu-sect.on .hamburg .dois {
        opacity: 0;
    }

    .menu-sect.on .hamburg .tres {
        transform: rotate(-45deg) translate(12px, -11px);
    }

    .menu-sect.on nav ul {
        display: block;
        text-align: center;
    }
    
    .menu-sect.on nav ul li a {
        color: white;
        font-weight: bold;
        border: none;
        font-size: 2.5rem;
        background-color: #252222;
        transition-duration: 0.5s;
        display: block;
        margin: 0px;
    }
    .menu-sect.on nav ul li a:hover {
        color: #00bac6;
    }
}

@media (max-width: 594px) {
    .email::before,
    .local::before,
    .phone::before {
        margin-right: 5px;
        }
        .back-980 {
            display: block;
            text-align: center;
        }
        .redes-sociais-down ul {
            justify-content: center;
        }
        .header-1 {
            flex-direction: column;
            height: 10%;
        }
    }